<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
<!--<![endif]-->


    <link rel="stylesheet" href="{% static 'chat/css/styles.css' %}" />


<!-- Icons! -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'chat/icons/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'chat/icons/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'chat/icons/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'chat/icons/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'chat/icons/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'chat/icons/apple-touch-icon-120x120.png' %} ">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'chat/icons/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'chat/icons/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'chat/icons/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" href="{% static 'chat/icons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static 'chat/icons/android-chrome-192x192.png' %}" sizes="192x192">
    <link rel="icon" type="image/png" href="{% static 'chat/icons/favicon-96x96.png' %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static 'chat/icons/favicon-16x16.png' %}" sizes="16x16">
    <link rel="manifest" href="{% static 'chat/icons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'chat/icons/safari-pinned-tab.svg' %}" color="#361f33">
    <link rel="shortcut icon" href="{% static 'chat/icons/favicon.ico' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{% static 'chat/icons/mstile-144x144.png' %}">
    <meta name="msapplication-config" content="{% static 'chat/icons/browserconfig.xml' %}" >
    <meta name="theme-color" content="#361f33">
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">


<!-- Javascript !-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <title>Talk.py | Welcome {{user}}</title>
</head>

<body class="pure-g">
  <header class="header pure-u-1">
      <a href="/chat"><img id="logo" src="{% static 'chat/img/logo.png' %}"/></a>

  </header>
      <section class="pure-u-1">

      </section>

        <div class="intro pure-u-1">

            {% block title %}{% endblock %}{% if user.is_anonymous %}
              <a href="{% url 'django.contrib.auth.views.login' %}"><h2>Login</h2></a>
              {% else %}
              <a href="{% url 'django.contrib.auth.views.logout' %}?next=/chat/"><h2>Logout</h2></a>
              {% endif %}
        </div>


            {% block content %}

            {% endblock %}

</body>

    <script src='{% static "chat/js/main.js" %}' type="text/javascript"></script>
    {% block eScripts %}

    {%endblock%}
</html>
