

{% extends "chat\default.html" %}

{% block title %}<h1>Welcome {{ user }}</h1>{% endblock %}

{% block content %}
        <div class="main-wrap pure-u-1">
            <div class="pure-g">

            {% if chatData != 0 %}


                 <div id="chat-form" class="form pure-u-1">
                    <form name="sendForm" method="POST" class="pure-g">
                            {% csrf_token %}

                            <div class="pure-u-3-4">
                                {{form.action}}
                            </div>

                            <div class="pure-u-1-4">
                                <input type="hidden" value="{{user.id}}" name="currentUser" id="chat-form-user">
                                <input type="submit" name="action" value="sendChat">

                            </div>
                    </form>
                </div>


                <div class="pure-u-1 pure-u-sm-3-4 action-wrap">
                    <div id="content" class="main chat">
                        {% for action in actions %}
                            <div class="action">
                                <div class="pure-g">
                                    <div class="pure-u-4-24 sender ioo{{action.sender.intorext}}"><p>{{action.sender}}</p></div>
                                    <div class="pure-u-4-24 time "><p>{{action.senddate|date:"d/m/y | h:i:A"}}</p></div>
                                    <div class="pure-u-16-24 text "><p>{{action.text}}</p></div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                </div>

                <div class="pure-u-1 pure-u-sm-1-4 sidebar">
                    <div class="pure-g">
                        <div class="pure-u-1 topic">
                            <h2>Topic</h2>
                            <p>{{chatData.topic}}</p>
                            <h3>Secondary Topic</h3>
                              <p>
                                <strong>
                                {{chatData.topic2}}
                                </strong>
                              </p>
                        </div>
                        <div class="pure-u-1 details">
                            <h2>Other</h2>
                            <h3>{{otherData.peer1}}</h3><p><strong>Age:</strong>{{otherData.peer1.age}}</p>
                            <h3>{{otherData.peer2}}</h3><p><strong>Age:</strong>{{otherData.peer2.age}}</p>
                        </div>
                    </div>
                </div>

            {% endif %}

            {% if chatData == 0 %}
                <div class="pure-u-1">
                    <h3 class="info">
                        No chat is being viewed, and you're not connected to anyone :(
                        You can either connect to a peer, or perhaps relive old memories and load an existing chat.
                    </h3>
                    <div class="pure-g">
                        <div class="pure-u-1 pure-u-sm-1-2">
                            <a href="{{request.path}}?nC=1">
                                <div class="button blue">
                                    <h2>Start a new chat</h2>
                                </div>
                            </a>
                        </div>
                        <div class="pure-u-1 pure-u-sm-1-2">
                            <div class="button red">
                                <h2>Load a previous chat</h2>
                            </div>
                        </div>
                    </div>
                 </div>

            {% endif %}
        </div>
{% endblock %}
