

{% extends "chat\default.html" %}
{% load staticfiles %}
{% block title %}<h1>Welcome {{ user }}</h1>{% endblock %}

{% block content %}
        <div class="main-wrap pure-u-1">
            <div class="pure-g">
              <div class="pure-u-1 notice"><div id="message"></div></div>
              <div class="pure-u-1" id="connect"><i class="emoji">🔎</i> Click to enter IP address of peer you'd wish to connect to.</div></div>

            </div>
        </div>
{% endblock %}


{% block eScripts %}
<script src='{% static "chat/js/adapter.js" %}' type="text/javascript"></script>
<script src='{% static "chat/js/common.js" %}' type="text/javascript"></script>

<script>
//Javascript Usage:
function getIP(){
  window.RTCPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;   //compatibility for firefox and chrome
   var pc = new RTCPeerConnection({iceServers:[]}), noop = function(){};
   pc.createDataChannel("");    //create a bogus data channel
   pc.createOffer(pc.setLocalDescription.bind(pc), noop);    // create offer and set local description
   pc.onicecandidate = function(ice){  //listen for candidate events
       if(!ice || !ice.candidate || !ice.candidate.candidate)  return;
       window.IP = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(ice.candidate.candidate)[1];
       pc.onicecandidate = noop
       console.log(window.IP)
       //Once program is ready
       WriteToPage("Your IP is: <strong>"+window.IP+"</strong>. Give this to your peers who you want to talk with!",'#104E8B')
   };
   console.log(window.IP);
   return window.IP;
}
$(function() {



});
function WriteToPage(string,color){
  setTimeout(
  function()
  {
    $('#message').fadeOut(500, function() {
        $(this).append("<div class='pure-u-1'>"+string+"</div>").fadeIn(500);
        $(this).css({"background":""+color+"","padding":"2em"});
    });
  },1);


}
function ConnectSelf(hosts){
  for (var i in hosts) {
      path = 'ws://'+hosts[i]+':8080/cw';
      WriteToPage( '===> Tested path :: '+path );
      ws = new WebSocket( path );
      sockets.push(ws);
      //console.log(sockets)
      ws.onerror=function(event){
        WriteToPage("===> Websocket Error.");
       }
      ws.onopen = function(){
        //Say how you're connected m8
        WriteToPage("===> ✔ Connected to Self on "+ws.url)
        console.log(sockets);
        for (var i = 0; i < sockets.length; i++) {
            if(sockets[i].url = ws.url){
              console.log(("here"));
              console.log(sockets.splice(i, 1)[0].url.split("."));
            }
        }
      }
  }
  return ws
}
$( document ).ready(function() {
  console.log(getIP());


 $('#connect').on('click',function(){

   if($(this).attr('data-click-state') == 1) {


   } else {
   $(this).attr('data-click-state', 1)
   $('#connect').html('<input class="pure-input-1 search-box" type="text">')
   }
  });


  $('#connect').click(function(){
  })
});


// ... wait for connection to open
//ws.send('hello world')
</script>
{%endblock %}
