<h1>{{ q.question_text }}</h1>

<ul>
{% for choice in q.choice_set.all %}
    <li>{{ choice.choice_text }} -- {{ choice.votes }} vote{{ choice.votes|pluralize }}</li>
{% endfor %}
</ul>

<a href="{% url 'polls:detail' q.id %}">Vote again?</a>