html, body
{
    height: 100%;
}
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

html,body{
      height:100%;

      display:flex;
      flex-direction:column;
}
body{
    background: #f8f8f8;
    overflow-x: hidden;

}
body > *{
    flex-shrink: 0;
}
header{
    background: #282828;
    padding: 1em;
    color: white;
    text-align:center;
}
header a{
    color: white;
    text-decoration: none;
}
.info{
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
#logo{
    width: 6em;
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%)
}
#logo:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%)
}
.main-wrap{
    background: #fdfdfd;
    -webkit-box-shadow: 0px 3px 32px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 32px -8px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 32px -8px rgba(0,0,0,0.3);

    margin-bottom: .5em;
    flex-grow:1;
    height:69%;
}
.main-wrap .pure-g{
    height: 100%;
}
.intro{
    background: #fdfdfd;
    -webkit-box-shadow: 0px 3px 32px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 3px 32px -8px rgba(0,0,0,0.3);
    box-shadow: 0px 3px 32px -8px rgba(0,0,0,0.3);

    margin-bottom: .5em;
    text-align: center;

}
.chat{
    background: #fff;
}
.action-wrap{
    overflow-x: none;
    overflow-y: scroll;
    max-height: 90%;
}
.sidebar{
    background:#f8f8f8;
    height: 80%;
}
.sidebar .pure-u-1{
    height:49%;
}
.details{
    background: #f4f4f4;
}
#chat-form input[type='text']{
    box-sizing:border-box;
    width:95%;
    font-size:125%;
    padding-top: .325em;
    padding-bottom: .325em;
    margin-left:.2em;
    margin-right: .2em;
}
.form{
    margin-bottom: 1em;
}
form[name="sendForm"] input[type='submit']{
    width:100%;
    height: 3em;
    background: #129FEA;
    color: white;
    border: none;
}

.action{
    margin-bottom: .5em;
    background: #fdfdfd;

    -webkit-box-shadow: 0px 2px 32px -8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 32px -8px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 32px -8px rgba(0,0,0,0.3);
}
.action .sender,.time,.text{

  box-sizing: border-box;
}

.sender{
    color: white;

    padding-left:.25em;
}
.sender p{
    word-wrap: break-word;
}
.time{
    background: #f4f4f4;
    padding: .25em;

}
.time p {
   font-size: 70%;

}

.ioo0{
    background: #361F33;
}
.ioo1{
    background: #F22031;
}
.blue{
    background: #361F33;
}
.red{
    background: #F22031;
}
.button{
    color: white;
    text-align: center;
    padding:.5em;
    margin:1em;
}
.button:hover{
    -webkit-filter: brightness(50%);

}

.sidebar h2{
    width:100%;
    background: #361F33;
    color:white;
    padding:.5em;
    margin: 0;
    font-weight: normal;
    font-size:1.4em;
}
.
.notice{
  color: white;
}
#message{
}
#connect{
  padding: 2em;
  background: green;
  color: white;
  text-align: center;
}
.emoji{
  font-style: normal;
  font-size: 2em;
  line-height: 10%;
}
.search-box{
  width: 92%;
  padding: .5em;
  font-size: 150%;
  color:#282828;

}
h1,h2,h3,h4,h5{
    font-family: 'Oswald', sans-serif;
}
.details h3, .topic h3{
  background: #F22031;
  color:white;
  padding: 1em;
  text-transform: uppercase;
}
