


{% extends "chat\default.html" %}

{% block title %}<h1>Login</h1>{% endblock %}

{% block content %}
    <div class="main-wrap pure-u-1">
        <div class="pure-u-g">
            <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
                <div class="pure-u-1 pure-u-sm-1-2 username">
                    {{form.username.label_tag}}
                    {{form.username}}
                </div>
    
                <div class="pure-u-1 pure-u-sm-1-2 pass">
                    {{form.password.label_tag}}
                    {{form.password}}
                </div>
    
                <div class="pure-u-1">
                    <input type="submit" value="login" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </form>

        </div>

    </div>
{% endblock %}



